<div class="row v_voting_action_buttons">
  <div class="col col-sm-12 text-right">
<!-- share! -->
    <button class="btn btn-info btn-sm trigger_share_voting" id="trigger_share_voting" data-url="<%= "/votings/#{@voting.id}/share" %>">
      <i class="glyphicon glyphicon-send"></i>
    </button>


<!-- contribute images -->
    <% if @voting.contribution == true %>
      <a id="new_image_item" data-url="<%= "/votings/#{@voting.id}/image_items/new" %>" class="btn btn-primary btn-info btn-sm new_image_item" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    <% end %>

    <!-- bookmark -->
    <% if user_signed_in?  %>
    <button class="btn btn-info btn-sm toggle_bookmark"  id="set_bookmark"  data-bookmark="<%= @voting.id %>">
      <% if current_user.bookmarks.include?(@voting.id.to_s) %>
          <i id='bookmark' class="toggle_bookmark glyphicon glyphicon-heart text-warning"></i>
        </button>
      <% else %>
          <i id='bookmark' class="toggle_bookmark glyphicon glyphicon-heart"></i>
      <% end %>
    </button>
    <% end %>  

<!-- report  -->  
    <button class="btn btn-sm btn-default complaint" id="trigger_complaint" data-url="/complaints/new?item_type=voting&item_id=<%= @voting.id%>&">
      <i class="glyphicon glyphicon-flag"></i>
    </button><br>
  </div>
</div>