<div class="row">
	<div class="col-sm-12 text-center">
		<button class="btn btn-default" id="close_canvas"><span class="glyphicon glyphicon-cose"></span> Close!</button>
	</div>
</div>

<script type="text/javascript">
	$('#close_canvas').click(function(){
		hideCanvas();
	});
</script>

<!-- TODO: auto close window -->

<!-- TODO: style window -->

<!-- TODO: find better location in folder. assign to better suited controller -->