<div class="v_voting_overlay_blurr" id="votingOverlayBlurr">
</div>
<div class="v_voting_overlay" id="votingOverlay">
	<div class="row">
		<div class="col col-sm-8 bg-primary text-default">
			stTe
		</div>
		<div class="col col-sm-4 bg-danger">
			&nbsp;
		</div>
	</div>
</div>