<div class="v_voting_overlay_blurr" id="votingOverlayBlurr">
</div>
<div class="v_voting_overlay" id="votingOverlay" >
	<div style="display: table-row; ">
	<div class="v_voting_item_canvas" style="display: table-column; width: 30%; background-color black;">
		Test
	</div><div class="v_voting_context" style="display: table-column">
		test 2
	</div>
	</div>
</div>
