<% unless @interesting_votings.empty? %>
<h3>We thought you might like these:</h3>
<div class="row">
	<div class="col-md-12">
		<div id="v_tile_container_interesting">
		<% @interesting_votings.each do |voting| %>
			<div class="grid class">
					<%= render "/#{voting.voting_type}_votings/tiles/#{voting.item_type}", :voting => voting %>
			</div>
		<% end %>
		</div>
	</div>
</div>
<% end %>
