<table >
    <% @votings.each do |voting| %>
      <tr>
        <td><%= link_to voting._id, voting_path(voting) %></td>
        <td><%= link_to :edit, edit_voting_path(voting) %></td>

      </tr>
    <% end %>

</table>


