
<div class="row">
	<div class="col col-sm-1">&nbsp;</div>
	<div class="col col-sm-10 text-danger">
		<h3>Thank you!<br>
			<small>We are taking your submission very seriously!</small>
		</h3>
	</div>
	<div class="col col-sm-1">&nbsp;</div>
</div>

<div class="row">
	<div class="col col-sm-1">&nbsp;</div>
	<div class="col col-sm-10">
		We will look into the reported issue shortly and review it against our policies.
	</div>
	<div class="col col-sm-1">&nbsp;</div>
</div>

<hr>

<%= render '/layouts/shared/close_canvas' %>