<button type="button" class="btn btn-info wizardSelection" aria-label="Left Align" id='wizardSelection' data-item-type="<%= session[:item_type]%>" data-voting-type="classic" data-url="/voting_wizards/step3">
  <%= image_tag 'star.png', width: "75" %>
  <div>Classic</div>
</button>