<button type="button" class="btn btn-default disabled" aria-label="Left Align" id='wizardSelection' data-item-type="<%= session[:item_type]%>" data-voting-type="flip" data-url="/voting_wizards/step3">
  <%= image_tag 'shuffle.png', width: "75" %>
  <div>Flip</div>
</button>