
	<div class="row v_tile_container_row">
		<div class="col-sm-4">
			<span class="badge"><small><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <%= voting.hits %></small></span>				
		</div>
		<div class="col-sm-4">
			<span class="badge"><small><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> <%= voting.items.size %></small></span>				
		</div>
		<div class="col-sm-4">
			<span class="badge"><small><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= voting.bookmarks %></small></span>				
		</div>
	</div>