<div class="nav nav-sidebar" role="navigation">
	<div class="side-nav-item <%= context_nav_active?('friends') %>"><%= link_to 'Friends', user_friends_path(current_user)  %></div>
	<div class='side-nav-item <%= context_nav_active?('votings') %>'><%= link_to 'Votings', friend_votings_path(current_user) %></div>
</div>