<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello there,</p>

    <p>your friend <%= @sender %> wants you to have a look at this voting:<br>
    <%= url_for @voting %>
    </p>

    <p>Have fun with this one and share on.</p>

    <p>The votogenic.io team!</p>
  </body>
</html>
