<button type="button" class="btn btn-default disabled" aria-label="Left Align" id='wizardSelection' data-item-type="place" data-url="/voting_wizards/step2">
  <%= image_tag 'place.png', width: "75" %>
  <div>Place</div>
</button>