<button type="button" class="btn btn-default disabled wizardSelection" aria-label="Left Align" id='wizardSelection' data-item-type="product" data-url="/voting_wizards/step2">
  <%= image_tag 'product.png', width: "75" %>
  <div>Product</div>
</button>