<button type="button" class="btn btn-default disabled wizardSelection" aria-label="Left Align" id='wizardSelection' data-item-type="website" data-url="/voting_wizards/step2">
  <%= image_tag 'world.png', width: "75" %>
  <div>Website</div>
</button>