<h3>Hi there! <br>
<small>There are some friend requests for you:</small></h3>
<div class="row">
	<% @requesters.each_with_index do |requester, i| %>

  		<div class="col col-md-4 text-center">
  			<%= image_tag requester.user_image.url(:s), class: 'img-thumbnail' %>
  			<h3><%= requester.first_name + ' ' + requester.last_name %></h3>
  			<button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Accept</button>
  			&nbsp; - OR - &nbsp;
  			<button class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span> Ignore</button>
  		</div>

  	<% if ((i+1) % 3) == 0 %>
</div>  		
<div class="row">
  	<% end %>
	
	<% end %>
</div>
