<div class="v_voting_stage" id="voting_stage">
	<image src="" >
</div>
<div class="v_voting_context" id="voting_context">
	Test
</div>
<%= javascript_include_tag "#{@voting.voting_type}/#{@voting.item_type}" %>