<%= image_tag @user.user_image.url(:xs), class: 'img-thumbnail', alt: @user.first_name %>
  <p>
    <i class="glyphicon glyphicon-eye-open"> <%= link_to @user.first_name, user_path  %></i>
  </p>


<% if user_signed_in?  %>
  <!-- if we are friends then show message button -->
  <% if @user.friends.include?(current_user.id.to_s) %>
<!-- CURRENTLY disabled -->
<% if 0 > 1 %>
    <%= link_to user_path(@user.id) do %><button class="btn btn-sm btn-info" style="width: 110px"><i class="glyphicon glyphicon-envelope"> </i> Message</button><% end %>
<% end %>
  <% else %>
  <!-- if we are not friends then show add friend button -->
    <button class="btn btn-sm btn-info" style="width: 110px" data-friend="<%= @user.id %>" id="send_friend_request"><i class="glyphicon glyphicon-user"></i> Add Friend</button>
    <button class="btn btn-sm btn-success" style="display: none; width: 110px;" id="friend_request_sent"><i class="glyphicon glyphicon-check"></i> Request Sent</button>
  <% end %>
  <br><br>
<% end %>