<div class="jumbotron">
    <h1>Welcome to votogenic.io!</h1>
  	
  	<p>
  	 With just a few clicks you can <a id="new_voting" data-url="/voting_wizards/step1" class="btn btn-primary navbar-btn " >
      		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      		create your own voting
		</a>
	 	right here...
  	</p>
  	  
	<p>
		... or click on any of the votings below and join the fun.
		 
	</p>
</div>