<div class="jumbotron">
    <h1>Welcome to votogenic.io!</h1>
  	<p>
		Click on any of the votings below and join the fun.
		 
	</p>
  	<p>
  	 ... or with just few clicks you can <a  data-url="/voting_wizards/step1" class="btn btn-primary navbar-btn new_voting" >
      		create your own voting
		</a>
	 	right here...
  	</p>
 
</div>