<div class="wizardContainer">

	<div class="row">
		<div class="col-md-1">
			&nbsp;
		</div>
		<div class="col-md-10 text-primary">
			<h1>Voting Wizard</h1>
		</div>
		<div class="col-md-1">
			&nbsp;
		</div>
	</div>	
	
	<div class="row">
		<div class="col-md-1">
			&nbsp;
		</div>
		<div class="col-md-10">
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
			    	2 of 4
			  	</div>
			</div>
		</div>
		<div class="col-md-1">
			&nbsp;
		</div>
	</div>	

	<div class="row">
		<div class="col-md-1">
			&nbsp;
		</div>
		<div class="col-md-10 text-primary">
			<h3>Step 2: Select voting type</h3>
			<p>What kind of voting do you have in mind?</p>
		</div>
		<div class="col-md-1">
			&nbsp;
		</div>
	</div>	


	<div class="row">
		<div class="col-md-1">
			&nbsp;
		</div>
		<div class="col-md-2">
			<%= render '/voting_wizards/voting_types/classic' %>
		</div>
		<div class="col-md-2">
			<%= render '/voting_wizards/voting_types/grid' %>
		</div>
		<div class="col-md-2">
			
		</div>
		<div class="col-md-2">
			
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-1">
			&nbsp;
		</div>
	</div>	

</div>