<%= link_to :sign_out, destroy_user_session_path, method: :delete, class: 'navbar-right' %>
<ul class="nav navbar-nav navbar-right">
	<button type="button" class="btn btn-primary navbar-btn">My Profile</button>
</ul>