<%= link_to current_user do %><button class="btn navbar-btn btn-primary">My Account</button><% end %>
<%= link_to destroy_user_session_path, method: :delete do %><button class='btn btn-danger navbar-btn glyphicon glyphicon-off'></button><% end %>