<button class="btn navbar-btn btn-default" id="sign_in" data-url="/users/sign_in?ajax=false"    data-toggle="sign_in" title="Log In options:"><span class="glyphicon glyphicon-user text-primary"></span></button>
