<%= link_to current_user do %><button class="btn navbar-btn btn-default"><span class="glyphicon glyphicon-user"></span> My Account</button><% end %>
<%= link_to destroy_user_session_path, method: :delete do %><button class='btn btn-warning navbar-btn glyphicon glyphicon-off'></button><% end %>